/* 隐藏滚动条 */
::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* 设置ol显示格式 */
.module-editor ol {
    counter-reset: sectioncounter;
}

.module-editor ol li {
    list-style: none;
    position: relative;
}

.module-editor ol li::before {
    content: counter(sectioncounter) '.';
    counter-increment: sectioncounter;
    margin-right: 10px;
}

/* 使用自定义伪类会导致光标偏移向下 */
/* .module-editor ul {
    position: relative;
  }
  
  .module-editor ul li {
    list-style-type: none;
    word-break: break-all;
  }
  
  .module-editor ul li::before {
    content: '';
    width: 5px;
    height: 5px;
    background-color: #000;
    margin-right: 6px;
    display: inline-block;
    border-radius: 100%;
    transform: translateY(-2px);
    margin-left: 1px;
  } */

.module-editor ul li {
    word-break: break-all;
    list-style: disc inside;
}

/* 常用flex布局 */
.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-left {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.flex-right {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.flex-items {
    display: flex;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex1 {
    flex: 1;
}

/* ellips */
.hidden {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

html,
body,
.app,
.transition,
.bg-white {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    background-color: #3c3c3c;
    outline: none;
}

.bg-white {
    background-color: #fff;
}

/* 软件阴影 */
.app {
    box-shadow: 0 0 4px rgb(185, 185, 185);
}

body {
    padding: 0;
    user-select: none;
    outline: none;
}

@keyframes fadein {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.9);
        opacity: 0;
    }
}

/* 进入和退出动效 */
.app-show {
    animation: fadein 0.4s forwards;
    transform: scale(1) !important;
}

.app-hide {
    animation: fadeout 0.2s forwards;
    transform: scale(0.9);
}

/* 颜色 */
.yellow-content {
    transition: background-color 0.4s;
    background-color: #fff7d1 !important;
}

.green-content {
    transition: background-color 0.4s;
    background-color: #e4f9e0 !important;
}

.pink-content {
    transition: background-color 0.4s;
    background-color: #ffe4f1 !important;
}

.purple-content {
    transition: background-color 0.4s;
    background-color: #f2e6ff !important;
}

.blue-content {
    transition: background-color 0.4s;
    background-color: #e2f1ff !important;
}

.gray-content {
    transition: background-color 0.4s;
    background-color: #f3f2f1 !important;
}

.black-content {
    transition: background-color 0.4s;
    background-color: #696969 !important;
    color: #fff;
}

.black-content * {
    color: #fff;
}

.el-message-box {
    width: 550px;
    background-color: #252526;
    border: none;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    padding-bottom: 20px;
}

.el-input__inner {
    background-color: #252526;
    border: 1px solid #3c3c3c;
}

.el-input__inner:focus {
    border: 1px solid #0e639c;
}

.el-input__inner:hover {
    border: 1px solid #0e639c;
}

.el-message-box__title {
    color: #cccccc;
}

.el-message-box__content {
    color: #cccccc;
    padding: 30px 30px 10px;
}

.el-button {
    background-color: #3a3d41;
    border: 1px solid #3a3d41;
    color: #cccccc;
    border-radius: 0;
    padding: 3px 12px;
}

.el-message-box {
    border-radius: 0;
}

.el-button:hover {
    background-color: #45494e;
    border: 1px solid #45494e;
    color: #cccccc;
}

.el-button--primary {
    background-color: #0e639c;
    border: 1px solid #0e639c;
}

.el-button--primary:hover {
    background-color: #1177bb;
    border: 1px solid #1177bb;
}

.el-message-box__btns {
    padding: 5px 30px 0;
}

.el-message-box__header {
    display: none;
}

.el-popconfirm__action {
    margin-top: 8px;
}

.el-popover.el-popper {
    background-color: #353535;
    border: none;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 50%);
    color: #cccccc;
    border-radius: 0;
}

.el-popper.is-light .el-popper__arrow::before {
    border: 1px solid #353535;
    background: #353535;
}

.el-dropdown-menu {
    background-color: #353535;
    border: none;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 50%);
    color: #cccccc;
    border-radius: 0;
}

.el-popper.is-light {
    background-color: #353535;
    border: none;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 50%);
    color: #cccccc;
    border-radius: 0;
}

.el-dropdown__popper.el-popper[role=tooltip] {
    background-color: #353535;
    border: none;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 50%);
    color: #cccccc;
    border-radius: 0;
}

.el-dropdown__popper.el-popper[role=tooltip] .el-popper__arrow::before {
    border: none;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 50%);
}

.el-dropdown-menu__item:focus, .el-dropdown-menu__item:not(.is-disabled):hover {
    background-color: #094771;
    color: #cccccc;
}

.el-dropdown-menu__item {
    color: #cccccc;
}

.dropdown-name {
    margin-left: 10px;
}
.dropdown-icon {
    display: inline-block;
    width: 13px;
    height: 13px;
}

.el-dialog {
    background-color: #353535;
    border: none;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 50%);
    color: #cccccc;
    border-radius: 0;
}

.el-select__popper.el-popper[role=tooltip] {
    background-color: #353535;
    border: none;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 50%);
    color: #cccccc;
    border-radius: 0;
}

.el-select__popper.el-popper[role=tooltip] .el-popper__arrow::before {
    border: none;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 50%);
}

.el-dialog__title {
    color: #cccccc;
    font-size: 15px;
    line-height: 1;
}

.el-dialog__body {
    color: #cccccc;
    padding: 15px 20px;
}

.el-form-item__label, .el-input__inner, .el-textarea__inner, .el-select-dropdown__item {
    color: #cccccc;
}

.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
    background-color: #505050;
}

.el-input-group__append, .el-input-group__prepend {
    background-color: #353535;
    border: 1px solid #3e3e3e;
    border-left: 0;
}

.el-collapse-item__content {
    line-height: 1;
}

.el-table th, .el-table tr, .el-table, .el-table__expanded-cell {
    background-color: transparent;
}

.el-table tbody tr:hover>td { 
    background-color:#094771 !important
}

.el-table .cell {
    color: #cccccc;
}

.el-table td, .el-table th.is-leaf {
    border-bottom: 1px solid #424344;
}

.el-table--border::after, .el-table--group::after, .el-table::before {
    content: "";
    position: absolute;
    background-color: transparent !important;
    z-index: 1;
}